In [3]:
import pandas as pd
import numpy as np

In [4]:
df_ip_equipment_details = pd.read_excel('../data/processed/Ip_Equipment_Details.xlsx')
df_ip_equipment_sales = pd.read_excel('../data/processed/Ip_Equipment_Sales.xlsx')

In [5]:
df_ip_equipment_details.head()

,Unnamed: 0,Equipment Type,Equipment,IPID,Equipment Name,Quantity,OrderID,DateTime,Amount,Type
0,0,individual,Medical Equipment,1001,CARDIAC MONITOR,1,10001,2021-07-03 09:18:00,650,individual
1,1,individual,Medical Equipment,1002,CARDIAC MONITOR,1,10002,2021-07-03 09:21:00,650,individual
2,2,individual,Medical Equipment,1003,CARDIAC MONITOR,1,10003,2021-07-03 14:50:00,650,individual
3,3,individual,Medical Equipment,1004,CARDIAC MONITOR,1,10004,2021-07-03 14:52:00,650,individual
4,4,individual,Medical Equipment,1005,CARDIAC MONITOR,2,10005,2021-07-03 14:55:00,1300,individual

In [6]:
df_ip_equipment_details= df_ip_equipment_details.drop(['Unnamed: 0'],axis=1)

In [7]:
df_ip_equipment_details.head()

,Equipment Type,Equipment,IPID,Equipment Name,Quantity,OrderID,DateTime,Amount,Type
0,individual,Medical Equipment,1001,CARDIAC MONITOR,1,10001,2021-07-03 09:18:00,650,individual
1,individual,Medical Equipment,1002,CARDIAC MONITOR,1,10002,2021-07-03 09:21:00,650,individual
2,individual,Medical Equipment,1003,CARDIAC MONITOR,1,10003,2021-07-03 14:50:00,650,individual
3,individual,Medical Equipment,1004,CARDIAC MONITOR,1,10004,2021-07-03 14:52:00,650,individual
4,individual,Medical Equipment,1005,CARDIAC MONITOR,2,10005,2021-07-03 14:55:00,1300,individual

In [8]:

df_ip_equipment_sales.head()

,Unnamed: 0,RegistrationNo,DateTime,(No column name),testname,type,specialisation,amt,amt.1,amt.2
0,0,0,2021-07-05 09:30:10,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550
1,1,0,2021-07-05 13:28:38,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550
2,2,0,2021-07-07 11:27:10,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550
3,3,0,2021-07-07 11:32:34,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550
4,4,0,2021-07-12 12:17:47,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550

In [9]:
df_ip_equipment_sales=df_ip_equipment_sales.drop(['Unnamed: 0'],axis=1)

In [10]:
df_ip_equipment_sales.head()

,RegistrationNo,DateTime,(No column name),testname,type,specialisation,amt,amt.1,amt.2
0,0,2021-07-05 09:30:10,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550
1,0,2021-07-05 13:28:38,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550
2,0,2021-07-07 11:27:10,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550
3,0,2021-07-07 11:32:34,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550
4,0,2021-07-12 12:17:47,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550

In [11]:
df_ip_equipment_final_report_data = pd.merge(df_ip_equipment_sales,df_ip_equipment_details,left_index=True,right_index=True)

In [12]:
df_ip_equipment_final_report_data.head()

,RegistrationNo,DateTime_x,(No column name),testname,type,specialisation,amt,amt.1,amt.2,Equipment Type,Equipment,IPID,Equipment Name,Quantity,OrderID,DateTime_y,Amount,Type
0,0,2021-07-05 09:30:10,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550,individual,Medical Equipment,1001,CARDIAC MONITOR,1,10001,2021-07-03 09:18:00,650,individual
1,0,2021-07-05 13:28:38,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550,individual,Medical Equipment,1002,CARDIAC MONITOR,1,10002,2021-07-03 09:21:00,650,individual
2,0,2021-07-07 11:27:10,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550,individual,Medical Equipment,1003,CARDIAC MONITOR,1,10003,2021-07-03 14:50:00,650,individual
3,0,2021-07-07 11:32:34,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550,individual,Medical Equipment,1004,CARDIAC MONITOR,1,10004,2021-07-03 14:52:00,650,individual
4,0,2021-07-12 12:17:47,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550,individual,Medical Equipment,1005,CARDIAC MONITOR,2,10005,2021-07-03 14:55:00,1300,individual

In [13]:
df_ip_equipment_final_report = df_ip_equipment_final_report_data.rename(columns={'(No column name)':'Department'})

In [14]:
df_ip_equipment_final_report.head()

,RegistrationNo,DateTime_x,Department,testname,type,specialisation,amt,amt.1,amt.2,Equipment Type,Equipment,IPID,Equipment Name,Quantity,OrderID,DateTime_y,Amount,Type
0,0,2021-07-05 09:30:10,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550,individual,Medical Equipment,1001,CARDIAC MONITOR,1,10001,2021-07-03 09:18:00,650,individual
1,0,2021-07-05 13:28:38,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550,individual,Medical Equipment,1002,CARDIAC MONITOR,1,10002,2021-07-03 09:21:00,650,individual
2,0,2021-07-07 11:27:10,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550,individual,Medical Equipment,1003,CARDIAC MONITOR,1,10003,2021-07-03 14:50:00,650,individual
3,0,2021-07-07 11:32:34,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550,individual,Medical Equipment,1004,CARDIAC MONITOR,1,10004,2021-07-03 14:52:00,650,individual
4,0,2021-07-12 12:17:47,NEURO SURGERY,CBC,Individual,PROFILE,550,550,550,individual,Medical Equipment,1005,CARDIAC MONITOR,2,10005,2021-07-03 14:55:00,1300,individual

In [15]:
df_ip_equipment_final=df_ip_equipment_final_report.T.drop_duplicates().T

In [16]:
df_ip_equipment_final = df_ip_equipment_final.rename(columns={'type':'Test Type'})

In [17]:
df_ip_equipment_final.head()

,RegistrationNo,DateTime_x,Department,testname,Test Type,specialisation,amt,Equipment Type,Equipment,IPID,Equipment Name,Quantity,OrderID,DateTime_y,Amount
0,0,2021-07-05 09:30:10,NEURO SURGERY,CBC,Individual,PROFILE,550,individual,Medical Equipment,1001,CARDIAC MONITOR,1,10001,2021-07-03 09:18:00,650
1,0,2021-07-05 13:28:38,NEURO SURGERY,CBC,Individual,PROFILE,550,individual,Medical Equipment,1002,CARDIAC MONITOR,1,10002,2021-07-03 09:21:00,650
2,0,2021-07-07 11:27:10,NEURO SURGERY,CBC,Individual,PROFILE,550,individual,Medical Equipment,1003,CARDIAC MONITOR,1,10003,2021-07-03 14:50:00,650
3,0,2021-07-07 11:32:34,NEURO SURGERY,CBC,Individual,PROFILE,550,individual,Medical Equipment,1004,CARDIAC MONITOR,1,10004,2021-07-03 14:52:00,650
4,0,2021-07-12 12:17:47,NEURO SURGERY,CBC,Individual,PROFILE,550,individual,Medical Equipment,1005,CARDIAC MONITOR,2,10005,2021-07-03 14:55:00,1300

In [18]:
df_ip_equipment_final.to_excel('../data/final/Ip_Equipment_Final.xlsx')