In [1]:
import pandas as pd

In [2]:
df_sales_report = pd.read_excel('../data\processed\Ip_Sales_Report.xlsx')

In [3]:
df_sales_report.head()

,Unnamed: 0,REG NO,DOCTOR NAME,PATIENT NAME,BILL NO,BILL AMOUNT,DISCOUNT,REFUND AMOUNT,COMPANY,SPECIALISATION,datetime,billid
0,0,TR30006,ALL,PN1,BILL0001,1900,950,450,SELF,NEURO SURGERY,2021-07-03 08:36:32,1109012
1,1,TR30008,ALL,PN2,BILL0002,500,0,450,SELF,NEURO SURGERY,2021-07-03 08:53:40,1109022
2,2,TR30007,ALL,PN3,BILL0003,1200,0,450,SELF,NEURO SURGERY,2021-07-03 08:50:21,1109020
3,3,TR30011,ALL,PN4,BILL0004,900,0,450,SELF,NEURO SURGERY,2021-07-03 09:11:04,1109037
4,4,TR30010,ALL,PN5,BILL0005,750,0,450,SELF,NEURO SURGERY,2021-07-03 09:05:59,1109034

In [4]:
df_sales_report = df_sales_report.drop(['Unnamed: 0'],axis =1)

In [5]:
df_sales_report.head()

,REG NO,DOCTOR NAME,PATIENT NAME,BILL NO,BILL AMOUNT,DISCOUNT,REFUND AMOUNT,COMPANY,SPECIALISATION,datetime,billid
0,TR30006,ALL,PN1,BILL0001,1900,950,450,SELF,NEURO SURGERY,2021-07-03 08:36:32,1109012
1,TR30008,ALL,PN2,BILL0002,500,0,450,SELF,NEURO SURGERY,2021-07-03 08:53:40,1109022
2,TR30007,ALL,PN3,BILL0003,1200,0,450,SELF,NEURO SURGERY,2021-07-03 08:50:21,1109020
3,TR30011,ALL,PN4,BILL0004,900,0,450,SELF,NEURO SURGERY,2021-07-03 09:11:04,1109037
4,TR30010,ALL,PN5,BILL0005,750,0,450,SELF,NEURO SURGERY,2021-07-03 09:05:59,1109034

In [6]:
df_sales_report.to_excel('../data/final/Ip_Sales_Report_Final.xlsx')