In [1]:
import pandas as pd 
import numpy as np

In [2]:
data_for_sales_details = pd.read_excel('../data/processed/Ip_Sales_Details.xlsx')

In [3]:
data_for_sales_details.head()

,Unnamed: 0,registrationno,ipid,Patient Name,billNo,billamount,discount,netamount,doctorname,Specialisation,admitdatetime,dischargedatetime,Area,Country,PackageFees,category,Company
0,0,101,1001,PN1,BILL0001,24631,0.0,24631.0,EMO,TRAUMA & EMERGENCY MEDICINE,2021-07-02 22:42:58,2021-07-03 02:44:53.180,TAMILNADU,INDIA,NaN,SIMS,SELF
1,1,102,1002,PN2,BILL0002,111836,0.0,111836.0,IYER VIVEK VENKATARAMAN,NEUROLOGY,2021-06-30 00:09:26,2021-07-03 10:33:18.867,TAMILNADU,INDIA,NaN,SIMS,SELF
2,2,103,1003,PN3,BILL0003,1291502,81368.0,1210134.0,THIRUPPATHI.K,PULMONOLOGY,2021-05-30 15:59:18,2021-07-03 11:32:29.200,TAMILNADU,INDIA,115000.0,SIMS,MEDI ASSIST INDIA TPA PVT.LTD
3,3,104,1004,PN4,BILL0004,165998,0.0,165998.0,CLEMENT JOSEPH J,ORTHOPAEDICS,2021-06-30 16:04:59,2021-07-03 11:52:34.257,TAMILNADU,INDIA,110000.0,STAR,STAR HEALTH AND ALLIED INSURANCE COMPANY LTD
4,4,105,1005,PN5,BILL0005,184397,12000.0,172397.0,MUTHU VEERAMANI,UROLOGY,2021-06-30 08:19:12,2021-07-03 11:54:04.147,TAMILNADU,INDIA,NaN,SIMS,MD INDIA PENSIONERS SCHEME

In [6]:
data_for_sales_details = data_for_sales_details.drop(['Unnamed: 0'],axis=1)

In [7]:
data_for_sales_details.head()

,registrationno,ipid,Patient Name,billNo,billamount,discount,netamount,doctorname,Specialisation,admitdatetime,dischargedatetime,Area,Country,PackageFees,category,Company
0,101,1001,PN1,BILL0001,24631,0.0,24631.0,EMO,TRAUMA & EMERGENCY MEDICINE,2021-07-02 22:42:58,2021-07-03 02:44:53.180,TAMILNADU,INDIA,NaN,SIMS,SELF
1,102,1002,PN2,BILL0002,111836,0.0,111836.0,IYER VIVEK VENKATARAMAN,NEUROLOGY,2021-06-30 00:09:26,2021-07-03 10:33:18.867,TAMILNADU,INDIA,NaN,SIMS,SELF
2,103,1003,PN3,BILL0003,1291502,81368.0,1210134.0,THIRUPPATHI.K,PULMONOLOGY,2021-05-30 15:59:18,2021-07-03 11:32:29.200,TAMILNADU,INDIA,115000.0,SIMS,MEDI ASSIST INDIA TPA PVT.LTD
3,104,1004,PN4,BILL0004,165998,0.0,165998.0,CLEMENT JOSEPH J,ORTHOPAEDICS,2021-06-30 16:04:59,2021-07-03 11:52:34.257,TAMILNADU,INDIA,110000.0,STAR,STAR HEALTH AND ALLIED INSURANCE COMPANY LTD
4,105,1005,PN5,BILL0005,184397,12000.0,172397.0,MUTHU VEERAMANI,UROLOGY,2021-06-30 08:19:12,2021-07-03 11:54:04.147,TAMILNADU,INDIA,NaN,SIMS,MD INDIA PENSIONERS SCHEME

In [10]:
data_for_sales_details['PackageFees']= data_for_sales_details['PackageFees'].fillna(0)

In [12]:
data_for_sales_details.head()

,registrationno,ipid,Patient Name,billNo,billamount,discount,netamount,doctorname,Specialisation,admitdatetime,dischargedatetime,Area,Country,PackageFees,category,Company
0,101,1001,PN1,BILL0001,24631,0.0,24631.0,EMO,TRAUMA & EMERGENCY MEDICINE,2021-07-02 22:42:58,2021-07-03 02:44:53.180,TAMILNADU,INDIA,0.0,SIMS,SELF
1,102,1002,PN2,BILL0002,111836,0.0,111836.0,IYER VIVEK VENKATARAMAN,NEUROLOGY,2021-06-30 00:09:26,2021-07-03 10:33:18.867,TAMILNADU,INDIA,0.0,SIMS,SELF
2,103,1003,PN3,BILL0003,1291502,81368.0,1210134.0,THIRUPPATHI.K,PULMONOLOGY,2021-05-30 15:59:18,2021-07-03 11:32:29.200,TAMILNADU,INDIA,115000.0,SIMS,MEDI ASSIST INDIA TPA PVT.LTD
3,104,1004,PN4,BILL0004,165998,0.0,165998.0,CLEMENT JOSEPH J,ORTHOPAEDICS,2021-06-30 16:04:59,2021-07-03 11:52:34.257,TAMILNADU,INDIA,110000.0,STAR,STAR HEALTH AND ALLIED INSURANCE COMPANY LTD
4,105,1005,PN5,BILL0005,184397,12000.0,172397.0,MUTHU VEERAMANI,UROLOGY,2021-06-30 08:19:12,2021-07-03 11:54:04.147,TAMILNADU,INDIA,0.0,SIMS,MD INDIA PENSIONERS SCHEME

In [13]:
data_for_sales_details.to_excel('../data/final/Ip_Sales_Details_Final.xlsx')